.article, .smallArticle {
  width: 95%;
  margin: 20px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #DBDBDB;
}

.smallArticle {
  display: flex;
  flex-direction: row;
}

.smallArticle .articleImg {
  width: 33%;
  flex-shrink: 0;
  aspect-ratio: 4/3;
}

.smallArticle .articleHeader {
  font-size: 6vw;
}

.smallArticle .articleContent {
  padding-left: 5px;
}

.articleImg {
  width: 100%;
  aspect-ratio: 16/9;
}

.articleHeader {
  font-size: 2em;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 10px;
}

.shortDescription {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2; 
  -webkit-box-orient: vertical;
  font-size: 1em;
  line-height: 1.3em;
  margin:0;
  max-width: 2000px;
}