.addsPlacement {
  display:flex;
  align-items: center;
  width: 100%;
  height: 30%;
  box-shadow: 1px 1px 8px grey;
  margin: 0px auto 1.25em auto;
  position: relative;
  cursor: pointer; 
}

.largeAd {
  display:flex;
  align-items: center;
  width: 100%;
  height: 30%;
  box-shadow: 1px 1px 8px grey;
  margin: 0px auto 1.25em auto;
  position: relative;
  cursor: pointer; 
}

.addsSinglePlacement {
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  .addsPlacement {
    width: 50%;
    box-shadow: 2px 2px 13px grey;
  }

  .largeAd {
    width: 70%;
    box-shadow: 4px 4px 18px grey;
  }
}

/*   .addsPlacement{
    aspect-ratio: 16/9;
      width:30%; 
      height:200px;
      width:200px;
      flex-shrink: 0;
    min-width: 100%;
    min-height: 100% 
      
  }

   .addsPlacement img{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden

  }  */