.loggedIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.editableText {
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.changePasswordDiv, .userDiv, .generalInfoDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;

  max-width: 350px;
  width: 100%;

  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px black;

  transition: all 0.3s ease;
}

.changePasswordDiv form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.changePasswordDiv form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #600f0c;
}

.changeLogout {
  margin-top: 10px;
}

.changePasswordDiv form button, .changeLogout {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #600f0c;
  background-color: #600f0c;
  color: white;
  cursor: pointer;

  transition: all 0.3s ease;
}

.changePasswordDiv form button:hover, .changeLogout:hover {
  background-color: black;
}

.options{
  height:15px;
  width:15px;
  border-radius: 25px;
}

@media (min-width:1024px){
  .changePasswordDiv, .userDiv, .generalInfoDiv {
    max-width: 500px;
  }
}