.homepage {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 4%, rgba(96, 15, 12, 1) 6%);
}

.title {
  text-align: center;
  margin-top: 0;
  padding-top: 1em;
  background-color: #600F0C;
  margin: 0;
}

.superAd {
  display: flex;
  height: 95vh;
  text-align: center;
  padding: 10px;
  padding-bottom: 10%;
  background: rgb(96, 15, 12);
  background: linear-gradient(180deg, rgba(96, 15, 12, 1) 50%, rgba(0, 0, 0, 1) 100%);
  color: white;
  flex-direction: column;
  justify-content: center;
}

.toTheTop {
  position: relative;
  display: flex;
  padding-left: 8%;
  background: #f0e0e1;
  align-items: center;
  height: 8vh;
  width: 100%;
  font-size: 2em;
  cursor: pointer;
  color: black;
}
