h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.subscribePage {
  background-color: #600F0C;
  color: white;
}

.subscribeHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px white solid;
}

.subscribeBtn {
  width: 80%;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.subscribeCard {
  background: #390907;
  margin:20px auto;
  /* width: 70vw; */
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.3s;

}

.subscribeCard:hover {
  background-color: #3e1615;
}

.subscribeCard:active {
  background-color: #6e5857;
}

.subscribeBtn:hover {
  background-color: lightgray;
}

.subscribeBtn:active {
  background-color: white;
}

.subscribeInfo {
  text-align: center;
}

.subscribeList {
  list-style: none;
  padding: 0;
}

.subscribeList li {
  padding: 10px;
}


